@import "../../_variables";

.card {
  max-width: 800px;
  background-color: $white;

  &__content {
    display: flex;
  }

  &__first-section {
    display: flex;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__expand-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $white;
    padding: 6px 12px;
    color: $dark-blue;
  }

  &__expand-button:hover {
    cursor: pointer;
  }

  &__second-section {
    padding: 20px 25px;
  }

  &__name {
    font-size: 1.2rem;
    color: $dark-blue;
  }

  &__location {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    color: $gray;
  }

  &__rating {
    margin: 6px 0;

    & svg {
      color: $gold;
      font-size: 1.25rem;
    }
  }

  &__departure,
  &__availability {
    margin: 5px 0;
  }

  &__book-button {
    background-color: $gold;
    border: none;
    border-radius: 5px;
    color: $dark-blue;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.15rem;
    margin-top: 10px;
    cursor: pointer;

    width: 265px;
    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;
  }

  &__book-button:hover {
    background-color: $orange;
  }

  &__price {
    font-size: 1.75rem;
    font-weight: bold;
  }

  &__expandable-area {
    width: 100%;
    padding: 10px;
    background-color: $white;

    &__header {
      color: $dark-blue;
      font-size: 1.2rem;
      padding: 10px 0;
    }

    &__content {
      padding: 10px 0;
      line-height: 1.5;
      font-size: 1.1rem;
    }
  }
}

.card + .card {
  margin: 2rem 0;
}
